In [31]:
import pandas as pd
import numpy as np

In [4]:
all_data_path = "..\\data\\processed\\processed_data.csv"

# Get data using pandas
df = pd.read_csv(all_data_path)

In [56]:
df

,post_travel,post_abortion,adm,riv,gender,gender_3_text,age,ethnic_background,ethnic_background_8_text,education,...,twitter,none,facebook,instagram,tiktok,linkedin,pinterest,other,other_portals_7_text,bins
0,"We travellee to australia, the country was hot...",Banning abortion is against human rights if ch...,3.333,2.778,1.0,NaN,38,1.0,NaN,2.0,...,6.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,"[1.0, 3.25]"
1,Recently went to Iceland and can't believe how...,"Once again, men are dictating what women shoul...",2.778,1.222,2.0,NaN,28,8.0,British,1.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,"[1.0, 3.25]"
2,So excited to pick up my new BMW. It will be g...,Very unsure on the new government legislation....,3.222,1.444,2.0,NaN,31,1.0,NaN,2.0,...,6.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,"[1.0, 3.25]"
3,Time travelling in thf future and back in time,Don't agree . There should be freedom of choice,3.889,2.667,1.0,NaN,57,1.0,NaN,2.0,...,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,"[1.0, 3.25]"
4,barcelona is my favourite place to visit,everyone has a right to bodily autonomy - bann...,1.444,1.778,1.0,NaN,28,1.0,NaN,4.0,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"[1.0, 3.25]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,"Travel to a super beautiful place, with incred...",I dont aproved that the government has complet...,3.000,1.889,1.0,NaN,32,4.0,NaN,2.0,...,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,"[1.0, 3.25]"
181,"I travel a lot for work, and I get to see all ...",This is fucking stupid and scary. Restricting ...,1.222,1.222,1.0,NaN,30,1.0,NaN,4.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,reddit,"[1.0, 3.25]"
182,Lovely holiday with my partner on South West c...,Cannot believe the stance they have taken on t...,3.333,2.667,1.0,NaN,45,1.0,NaN,2.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,REDDIT,"[1.0, 3.25]"
183,"Travel, whether real or imagined, enriches our...","Banning abortion strips women of autonomy, ris...",3.111,3.667,1.0,NaN,22,1.0,NaN,2.0,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
184,"I started going regularly to a beautiful , pea...","I am disgusted. Life is very precious, althoug...",1.000,2.111,2.0,NaN,62,1.0,NaN,4.0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Whatsapp,"[1.0, 3.25]"

In [ ]:
def create_bins(data_path, narc_type, n_bins, confidence):
    df = pd.read_csv(data_path)
    bins = np.linspace(1.0,6.0,n_bins+1)
    bins[0]= bins[0]-confidence
    bins[-1]= bins[-1]+ confidence
    for i in range(n_bins):

In [65]:
def create_equal_bins_with_gaps(df, column, num_bins, epsilon):
    """
    Create an arbitrary number of bins of equal length within the value range of the specified column,
    with epsilon gaps between the bins.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    column (str): The name of the column to bin.
    num_bins (int): The number of bins to create.
    epsilon (float): The epsilon value to use for the gaps between bin ranges.

    Returns:
    pd.DataFrame: The DataFrame with an additional column for the bins.
    """
    # Determine the range of the data
    min_value = 1
    max_value = 6
    
    bins = np.linspace(1.0,6.0,num_bins+1)
    bins[0]= bins[0]-epsilon
    bins[-1]= bins[-1]+ epsilon
    labels = range(num_bins)

    list_bins = []

    for i in range(num_bins):
        list_bins.append((bins[i]+epsilon,bins[i+1]-epsilon))
    
    df['bins_adm'] = pd.cut(df["adm"], bins=pd.IntervalIndex.from_tuples(list_bins,closed="both"), labels=labels, include_lowest=True)
    df['bins_riv'] = pd.cut(df["riv"], bins=pd.IntervalIndex.from_tuples(list_bins,closed="both"), labels=labels, include_lowest=True)

    #df['bins'] = pd.cut(df[column], bins=pd.IntervalIndex.from_tuples(list_bins,closed="both"), labels=labels, include_lowest=True)

    return df
    

df_bins= create_equal_bins_with_gaps(df,"adm",2,1/4)

In [67]:
print(df_bins['bins_adm'].value_counts(dropna=False))
print(df_bins['bins_riv'].value_counts(dropna=False))

bins_adm
[1.0, 3.25]    140
[3.75, 6.0]     23
NaN             22
Name: count, dtype: int64
bins_riv
[1.0, 3.25]    170
NaN              8
[3.75, 6.0]      7
Name: count, dtype: int64